@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #fff;
}

.orange-color {
  color: #ff6b00;
}

.orange-bg {
  background-color: #ff6b00;
}

.crete-font {
  font-family: "Crete Round", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
}

.gradient-bg {
  background: linear-gradient(#fff, rgba(0, 0, 0, 0.7));
}

.btn:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00 !important;
}

/* navbar section  */
nav {
  background-color: #3e3c3c;
  min-height: 72px;
}

nav a {
  color: #fff;
}

.navbar-nav {
  height: 100vh;
}

/* landing page section  */
.landing {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.landing .test {
  position: absolute;
  right: -247.5%;
  transform: translate(-50%, -75%);
}

/* works section  */

.main-title::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #212121;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.aboutme {
  margin: 150px 0;
}

.aboutme h1 {
  font-size: 70px;
}

.aboutme .bg-dark {
  padding-top: 150px;
}

.aboutme .first-part {
  margin-bottom: 150px;
}

.aboutme .trans-2 {
  right: -17%;
  bottom: -50%;
  transform: translate(-50%, 20%);
}

.aboutme .first-part::after {
  content: '';
  width: 90%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
}

.aboutme .second-part .list-group-item {
  background-color: transparent !important;
  border: none;
  color: #fff;
  position: relative;
  padding-left: 25px;
}

.second-part .list-group-item::before {
  content: '';
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.second-part .list-group-item.item-1::before {
  background-image: url('/images/diamand.png');
  left: 20%;
}

.second-part .list-group-item.item-2::before {
  background-image: url('/images/rectangle.png');
  left: 15%;
}

.second-part .list-group-item.item-3::before {
  background-image: url('/images/circle.png');
  left: 30%;
}

.form textarea {
  height: 100px;
}

footer .social-footer::after {
  content: '';
  width: 140px;
  height: 5px;
  border-radius: 2px;
  background-color: #212121;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .hover-div:hover .target-div {
    display: none;
  }

  #button {
    display: none;
  }

  .hover-div:hover #button {
    display: block;
  }

  .aboutme .trans-2 {
    right: 0%;
    transform: translate(0%, 80%);
  }

  .aboutme .first-part {
    margin: 0;
  }

  .aboutme .first-part::after {
    bottom: -20%;
  }

  .second-part .list-group-item.item-1::before {
    left: 0%;
  }

  .second-part .list-group-item.item-2::before {
    left: 0%;
  }

  footer .social-footer::after {
    display: none;
  }
}
